* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* smooth scrolling, although it doesn't work in all browsers */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #696969;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQavlP_-HDfm5LkJluzy4WQa56kS2OuUAZ1QOhlux3iq3imYQZv&s);
  background-size: cover;
}
h1,
h2,
h3 {
  padding-bottom: 19px;
}

p {
  margin: 10px 0;
}

#home {
  width: 100%;
  height: 540px;
  background: url(https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 540px;
  top: 0;
}

.nav {
  background: #46b3e6;
  overflow: auto;
  position:fixed;
  width:100%;
  z-index: 1;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav h1 {
  float: left;
  padding-top: 20px;
}
.nav ul {
  list-style: none;
  float: right;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
.nav ul li a:hover {
  background: #80898b;
  color: #f8d5eb;
}
.logo-container {
  float: left;
  width: 5opx;
  padding: 0 120px;
  margin-top: 10px;
}
.logo-container .donut {
  height: 50px;
}
.heading {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading h1 {
  color: #4d80e4;
  font-size: 40px;
  margin-bottom: 8px;
}
.heading p {
  color: #4d80e4;
  font-size: 24px;
}

.donut {
  border-radius: 270px 0 0 270px;
  width: 70px;
  height: 60px;
  transform: rotate(180deg);
}

.description {
  margin-top: 50px;
  padding: 20px;
  text-align: justify;
  width: 35%;
  position: relative;
  left: 50%;
  font-size: 20px;
  background-color: #f1f1f6;
}

/*  Card area */

#recipes {
  margin-top: 100px;
}

.testimonials {
  margin: 100px auto 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}
.details {
  padding-top: 20px;
}
.image {
  object-fit: cover;
  width: 300px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  padding-right: 30px;
}
.image:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: 0.8s ease;
  cursor: pointer;
}
.testimonials .cards {
  position: relative;
  width: 350px;
  margin: 0 auto;
  background: #96e8f4;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.cards {
  border-radius: 20px;
}

/* about */
.fa-stroopwafel {
  background-image: radial-gradient(red, yellow, green);
  border-radius: 90px;
}
.container-1 {
  max-width: 960px;
  margin-left: 220px;
  overflow: hidden;
  padding: 4rem 1rem;
}
.grid-1,
.grid-2 {
  display: grid;
  grid-gap: 20px;

  grid-template-columns: 1fr 1fr;
}
.center {
  text-align: center;
  margin: auto;
}
.about-background {
  background: #f3f3f3;
  color: #696969;
}
.about-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

/* Sign Up Section*/

.advantages {
  font-size: 20px;
  text-align: left;
  margin: 33px auto 33px 80px;
  padding: 20px;
  background-image: url(https://cdn.pixabay.com/photo/2019/10/01/13/58/coffee-4518354_960_720.png);
  border-radius: 8px;
  background-size: 750px 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.advantages-text {
  background-color: #81f7fc;
  padding: 5px;
  border-radius: 8px;
}
.advantages ul {
  padding-left: 50px;
}
.advantages p {
  padding-left: 30px;
}
.advantages li {
  margin: 5px 0;
}

#login-box {
  position: relative;
  margin: 5% auto;
  padding-bottom: 25px;
  width: 450px;
  height: 400px;
  background: #96e8f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#login-box h1 {
  padding-top: 20px;
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  margin-bottom: 20px;
  margin-left: 26%;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-size: 15px;
}

input[type="submit"] {
  margin-top: 28px;
  margin-bottom: 25px;
  margin-left: 10px;
  width: 160px;
  height: 42px;
  background: #f7beff;
  border: none;
  border-radius: 8px;
  color: #fff;
  transition: 0.1s ease;
  cursor: pointer;
  font-size: 15px;
}

input[type="submit"]:hover {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 35%;
  font-size: 20px;
  background-color: #f1f1f6;
}
.footer ul li {
  display: inline-block;
  margin: 20px;
  align-items: center;
}

.footer ul li a {
  text-decoration: none;

  font-size: 20px;
  padding: 0 20px;
}
.footer {
  width: 100%;
  height: 80px;
}

@media screen and (max-width: 700px) {
  .nav {
    text-align: center;
  }
  .logo-container {
    padding: 0 10px;
  }

  .heading {
    margin-top: 15px;
  }
  .heading h1 {
    font-size: 35px;
  }
  .heading p {
    font-size: 23px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .grid-2 {
    display: block;
    margin-left: -60px;
  }
  .about-text {
    text-align: left;
    margin-top: 30px;
    width: 100%;
  }
  .vertical-photo {
    display: none;
  }

  .description {
    margin-top: 50px;
    left: 0;
    padding: 20px;
    text-align: left;
    width: 100%;
    position: relative;
    font-size: 20px;
    background-color: #f1f1f6;
  }
  .description h2 {
    text-align: center;
  }
  .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  .center {
    display: none;
  }
  .container-1 {
    margin-left: 4%;
  }
  .about-text {
    text-align: justify;
    margin-top: 30px;
    width: 300px;
  }
  .advantages {
    width: 80%;
    margin-left: 72px;
  }
  #login-box {
    margin-left: 72px;
    width: 80%;
  }

  .footer ul {
    padding-left: 0px;
  }
  .footer ul li {
    margin: 10px;
  }
}
